/* RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}



/* estilos del Nav ~~ PAGE-INDEX INICIO */
.container-fluid{
    text-decoration: none;
    font-size: 24px;
    display: flex;
    gap: 45px;
    
}

header nav ul li:hover{
    background-color: #d9d9d9;
    transform: scale(1.0);
}
/* estilos del Nav ~~ PAGE-INDEX FIN */
/* estilos del carousel ~~PAGE-INDEX INICIO */
.carousel-home {
    margin-top: 10px;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.carousel-item img {
    height: 540px;
    width: auto;
}
/* estilos del carousel ~~PAGE-INDEX FIN*/
/* estilos del Main ~~PAGE-INDEX' INICIO */
.background-home{
    background-image: url(/IMG/background-homee.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main div h1{
    margin-top:40px;
    font-size: 42px;
    font-family:sans-serif ;
    text-align: center;
    color: red;
    background-image: url(/IMG/Background-image.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

main div p{
    font-size: 26px;
    font-family: sans-serif;
    text-align: center; 
}

.middle h2 {
    font-size: 42px;
    text-align: center;
    color: red;
}

.middle p {
    font-size: 28px;
    text-align: center;
}

/* estilos de footer ~~PAGE-INDEX INICIO*/
.pie-page{
    width: 100%;
    background-color:#f5cb5c;
}

.pie-page .grupo-uno{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-page .grupo-uno .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.pie-page .grupo-uno .box figure img{
    width: 250px;
}

.grupo-uno .box h3{
    color: #fff;
    margin-bottom: 25px;
    font-size: 30px;
}


.pie-page .grupo-uno .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-page .grupo-uno .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#fff;
    margin-right: 10px;
    background-color: rgb(197, 29, 29);
    text-align: center;
    transition: all 300ms ease;
}

.pie-page .grupo-uno .red-social a:hover{
    color: #000;
}

.pie-page .grupo-dos{
    background-color: aqua;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #000;
}

.pie-page .grupo-dos small{
    font-size: 15px;
}
/* estilos de footer ~~PAGE-INDEX fIN*/
/* MEDIAQUERIES */
@media screen and (max-width:720px) {
    .container-fluid{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 140px;
        display: none;
    
    }
    main div h1 p{
        display: flex;     
        text-align: center;
        align-items: center; 
    }
    .pie-page .grupo-uno .box {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }    
}
/* estilos de main ~~PAGE-NOSOTROS INICIO*/
main h1{
    font-size: 39px;
    text-align: center;
}

main p{
    font-size: 45px;
    text-align: center;
}
.container-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color:rgb(0, 0, 0, 0.25);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.card-us{
    position: relative;
    width: 310px;
    height: 490px;
    margin: 80px;
}
.img-us{
    width: 360px;
    height: 380px;
}
.des-us{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.title{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    text-align: center;
    background-color: white;
}
.container-values{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color:rgb(0, 0, 0, 0.25);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.card-values{
    position: relative;
    width: 80px;
    height: 220px;
    margin-right: 120px;
}
.values-us{
    width: 155px;
    height: 210px;
}
.text-us{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    color: black;
}
/* estilos de main ~~PAGE-NOSOTROS FIN*/
/* estilos de main ~~PAGE-LOCALES DISPONIBLES INICIO*/
h6{
    font-family: sans-serif;
    font-size: 26px;
    color: red;
    text-align: center;
}
section{
    margin: 15px;
    background-color: blanchedalmond;
}
.table{
    margin-left: 270px;
    font-size: 27px;
    background-color: #caf2be;
}
h5{
    text-align: center;
    margin-top: 90px;
    margin-left: 60px;
    font-size: 22px;
}

.botton{
    display: block;
    width: 220px;
    border-radius: 90px;
    margin: 20px 620px;
    color: black;
    padding: 12px;
    background-color: #29ffc9;
    text-decoration: none;
    font-size: 20px;
}
/* estilos de main ~~PAGE-LOCALES DISPONIBLES FIN*/
/* estilos de main ~~PAGE-CONTACTO INICIO*/
h1{
    text-align: center;
    color: red;
    font-size: 32px;
}
p{
    text-align: center;
    font-size: 26px;
    margin: 10px;
}
form{
    font-size: 30px;
    margin-left: 2px;
    background-color: white;
}
/* estilos de main ~~PAGE-CONTACTO FIN*/
/* estilos de main ~~PAGE-NUESTRAS-MARCAS INICIO*/
.Nuestras-marcas{
    background-color: aqua;
    font-size: 59px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 20px;
}
.container-brands{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color:rgb(0, 0, 0, 0.25);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.brands{
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;  
    margin-right: 960px;
}
.img-brands{
    width: 100%;
    height: 100%;
    margin-left:15px;
}
