.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    
    background: #efd9b4;
    box-shadow: 0px 1px 10px;
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 5px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 30%;
    height:210px;
}